* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ebf2ff;
}
.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.logo {
  width: 7%;
}
.button {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: 600;
  margin: 5px;
  padding: 15px;
  font-size: large;
}
.navItem {
  margin-top: 10px;
  margin-right: 10px;
}
.disc_img {
  width: 500px;
  border-radius: 6px;
}
.disc ,.disc2{
  font-size: 2.5rem;
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  line-height: 0.9;
}
.text {
  color: rgb(29, 53, 87);
  margin-top: 1em;
  font-size: 1.5em;
}
.grid_text {
  color: rgb(29, 53, 87);
  margin-top: 1em;
  font-size: 1.3em;
  line-height: 1;
  padding: 50px;
}
.grid_img {
  width: 300px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.grid_container {
  display: flex;
  align-items: baseline;
}
.grid_container2 {
  display: flex;
  margin-left: -10px;
}
.grid_small_img {
  width: 250px;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.card1 {
  width: 100%;
}
.card {
  border-radius: 6px;
  margin: 4em;
}
.card_section {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}
.cards_section {
  width: 70%;
  margin: auto;
  position: relative;
}
.diagonal_background {
  position: absolute;
  height: 95%;
  width: 100%;
  transform: skewY(-5deg);
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  z-index: -1;
  margin-top: -2em;
}
.card_heading {
  margin-top: 2em;
  color: rgb(29, 53, 87);
  font-size: 4em;
  text-align: center;
}
.card_dis {
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  font-size: larger;
}
#card2 {
  margin: -1em;
}
.red {
  color: red;
}
.card_h {
  padding: 10px;
}
.card_para {
  padding: 0 0 10px 10px;
}
.card_button {
  padding: 18px 20px;
  width: 30%;
  color: #fff;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  font-size: large;
  cursor: pointer;
}

.button_container {
  display: flex;
  justify-content: center;
}
.search_heading {
  margin-top: 1em;
  color: rgb(29, 53, 87);
  font-size: 4em;
  text-align: center;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.input {
  width: 20rem;
  margin-top: 0.5em;
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  color: #1d3557;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
}
.text_image {
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
  border-radius: 13px;
  height: 300px;
  width: 70%;
  margin: auto;
  margin-top: 5em;
}
.image_text {
  color: #fff;
  border-radius: 13px;
  opacity: 0.8;
  height: 100%;
  background-color: rgb(29, 53, 87);
  display: flex;
  align-items: center;
  font-size: 2.5em;
  padding: 0 20px;
}
.footer {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  border-radius: 13px;
  display: flex;
  margin-top: 3em;
  justify-content: space-evenly;
}
.footer_img {
  filter: invert(0.7);
  
  filter: brightness(0) invert(1);
}
.footer_items {
  color: #fff;
  font-weight:500;
  list-style: none;
  margin: 30px;
  font-size: larger;
}
.item{
  padding: 3px;
}
@keyframes padding {
  from {
    width: 100%;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 0.7;
  }
}
