@media (min-width: 1300px) {
  .card_button:hover {
    cursor: pointer;
    animation: 0.5s padding;
    background-color: #fff;
    color: #dd2476;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1280px) {
  .disc {
    width: 90%;
  }
  .cards_section {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .disc {
    flex-direction: column-reverse;
    align-items: center;
  }
  .logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }
  .disc2 {
    flex-direction: column;
    align-items: center;
  }
  .card_section {
    flex-direction: column;
  }
  #card2 {
    border-radius: 6px;
    margin: 4em;
  }

  .card_button {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
  }
}
@media (max-width: 728px) {
  .text {
    font-size: 3rem;
  }
  .grid_small_img {
    width: 150px;
  }
  .grid_img {
    width: 200px;
  }
  .footer {
    border-radius: 0px;
  }
  .text_image {
    width: 90%;
  }
  .disc,
  .disc2 {
    width: 90%;
  }
  .grid_text {
    font-size: 3rem;
    margin-top: 0px;
    padding: 20px;
  }
  .card_heading {
    margin-top: 4rem;
  }
}
@media (max-width: 500px) {
  .disc {
    margin-top: 0px;
  }
  .text {
    font-size: 2rem;
    margin-top: 10px;
  }
  .card_heading {
    font-size: 3rem;
    margin-top: 2.8rem;
  }
  .card {
    margin: 1rem;
  }
  #card2 {
    margin: 1rem;
  }
  .disc_img {
    width: 100%;
    border-radius: 0px;
  }
  .input {
    width: 90%;
  }
  .footer_img {
    width: 30%;
  }
  .search_heading {
    font-size: 3rem;
  }
  .card_button {
    margin-top: 10px;
    width: 50%;
  }
}
@media (max-width: 350px) {
  .card_heading,
  .grid_text {
    font-size: 2rem;
    padding: 10px;
    margin-top: 1rem;
  }
  .disc2 {
    margin-top: 0px;
  }
  .image_text {
    font-size: 2rem;
  }
  .grid_small_img {
    width: 100px;
  }
  .grid_img {
    width: 150px;
  }
  .search_heading {
    font-size: 2rem;
  }
  .search {
    display: block;
    width: 80%;
    margin: auto;
  }
  .button {
    float: right;
  }
  .input {
    width: 92%;
  }
}
